:root {
	--background-1: #fff;
	--background-2: #ffe964;
	--background-3: #ff523d;
	--background-4: #223c88;
	--main-text: #000;
}

html {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


.navigation {
	margin: auto;
	
	display: flex;
	position: fixed;
	flex-direction: row;
}


.navigation__link {
	margin: 0 1em;
}

.title

.title__bg__picture {

}

.title__letters--B {
	color: #ffe964;
}

.title__letters--I {
	color:#ff523d
}

.title__letters--K {
	color: #223c88;
}